
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Open+Sans&display=swap');
.container{

    
        width:350px;
        height:800px;
    border-radius:50px;
    padding: 1.4em;
    margin:2em auto;
    background-color: #fff;
   
  
    
    
}
body {
    background-color:#f2c7d9;
    box-sizing: border-box;
    
    font-size:12px;
    font-family: 'Open-sans',"Roboto", sans-serif;

    
  }
  .btn:hover{
     color:white;
     background-color: rgb(165, 81, 42);
  }
  .btn{
      /* font-size:10px; */
      letter-spacing:0.5px;
      font-weight:600;
  }
  
.header-content{
    display:flex;
    justify-content: space-between;
    align-items: center;
   

}
.header-content h4{
    font-size:14px;
    font-weight:900;
}
.main-nav{
 display:flex;
 justify-content: space-between;
 margin-top:40px;

}
button{
    background-color:#f2c7d9;
    border-radius:6px;
}
.item-image-div{

    background-color: #f2c7d9;
    border-radius:20px;
    position:relative;
    top:15px;
    width:80px;
    height:80px;
    left:28px;
    display:flex;
    justify-content: center;
    align-items:center;
    padding:10px;
}
.item-image-div1{

    background-color:#B0C4DE;
    border-radius:20px;
    position:relative;
    top:15px;
    width:80px;
    height:80px;
    left:28px;
    display:flex;
    justify-content: center;
    align-items:center;
    padding:10px;
}
.item-image-div2{

    background-color:#B0C4DE;
    border-radius:20px;
    position:relative;
    top:15px;
    width:80px;
    height:80px;
    left:28px;
    display:flex;
    justify-content: center;
    align-items:center;
    padding:10px;
}
.item-image{
    
    align-self: center;
    border-radius:10px;
    /* padding:30px; */

   
    
    
}
.main{
    margin-top:30px;
}
.item{
    border:1px solid #ddd;;
    border-radius:20px;
    width:160px;
    
    /* /* display:flex;
    flex-direction:column;
    /* justify-content:center; */
    /* align-items:center; */ 
    
    
   
}
.item-2
{
    border:1px solid #ddd;;
    border-radius:20px;
    width:160px;
    background-color: #755ae0;
    
    color:white;
}
.item-footer{
    position:relative;
    top:5px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-right:20px;
    margin-left:10px;
    bottom:20px;
    
    
}
   
.btn-green{
    
    color:white;
    background-color:#b5d4b0;
    border-radius:10px;
}
.btn-violet{
    color:white;
    border-radius:10px;
    background-color:#9087b0;
}

.main{
    display:grid;
    grid-template-columns:180px 180px;
    grid-column-gap:8px;
    grid-row-gap:30px;
    grid-template-rows:240px 240px;
}
/* .item-footer{
    display:flex;
    justify-content:space-between;
} */
.item-details{
    position:relative;
    top:15px;
    margin-left:10px;
}
.item-details p{
    position:relative;
    bottom:10px;
    
}
.item-details h4{

    font-weight:800;
    font-size:15px;
}
.item-footer h3{
 font-size:15px;
}
.view-more{
    display:flex;
    justify-content:center;
    background-color:#cd853f;
    border-radius:50px;
    position:relative;
    top:30px;
    font-weight:700;
}
#xyz{
    position:relative;
    left:10px;
}
#yyz{
    position:relative;
    left:10px;
}
.on-sale{
    display:flex;
    justify-content:center;
    position:relative;
    top:30px;
    font-weight:700;
    
}