

body{
  color:#444444;
  font-family: sans-serif;
  border-top:10px solid #1098ad;
  margin:0;
  display:grid;
  grid-template-columns:1fr 300px;
}

.main-header{
  background-color:#f7f7f7;
  padding:20px;
  
  
}
article{
  margin-bottom:60px;
  grid-column:1/2;
  
}
aside{
  background-color:#f7f7f7;
  border-top:5px solid #1098ad;
  border-bottom:5px solid #1098ad;
  padding: 50px 0;

  grid-column:2/3;
  

}
/* .container{
  display:grid;
  grid-template-columns:1fr 300px;

} */


h1,h2,h3{
  color:#1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  
}

h2 {
  font-size: 40px;
  
}

h3 {
  font-size: 30px;

}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
  margin-bottom:10px;
}
li:last-child{
  margin-bottom:0;
}

/* footer p{
    font-size: 16px;
} */

#author{
    font-style: italic;
    font-size: 18px;
}

#copyright{
    font-size: 16px;
}

.related-author{
    font-size: 18px;
    font-weight: bold;
}

.related{
    list-style: none;
}


li:first-child{
  font-weight:bold;
}
li:last-child{
  font-style:italic;
}
article p:first-child{
  color:red;
}
a :link{
  color:#1098ad;
  text-decoration:none;
}
a:visited{
  color:#1098ad;
}
a:hover{
  color:orangered;
  font-weight:bold;
  text-decoration:underline  orangered;
}
a:active{
  background-color: black;
  font-style:italic;
}
/* #copyright{
  color:red;
}
.copyright{
  color:blue;
}
.text{
  color:yellow;
}

footer p{
  color:green;
} */

nav {
  font-size:18px;
}

nav a:link{
  /* background-color: orangered;
  margin:20px;
  padding:20px;

  display:block; */
  margin-right:30px;
  margin-top:10px;
  display:inline-block;
}
/* .main-header{

  display:grid;
  align-items:center;
  justify-content:space-between 
} */

/* #xyz{

  display:flex;
  align-items:center;
  justify-content:space-between;
} */